---
import Layout from "../layouts/Layout.astro";
import Parse from "../components/parsing/Parse";
---

<Layout>
    <div class="lg:max-w-[60dvw] mx-auto p-3">
        <h1 class="text-3xl">Professional Profile Standard</h1>
        <Parse client:load />
    </div>
</Layout>
